.group-wrapper{
    height: 70vh;
    overflow: auto;
    overflow-x: hidden;
}
.group{
    display: block;
    width: 100%;
    padding: .25em;
    font-size: 1.1em;
    background: var(--dark-brown);
    font-family: var(--font);
    color: var(--light);
    border: 0;
    border-bottom: 1px solid var(--dark);
}
.group:last-child{
    border-bottom: 0;
}
.group:hover{
    background: var(--dark);
}